.rctr--RcTreeCustomControls {
  &.rctr--RcTree {
    width: 100%;
    min-height: 400px;
  }

  &-Content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &-Title {
    line-height: 2em;
  }

  & .rctr--RcTree-list {
    min-width: 270px;
  }

  & .rctr--RcTree-node-content-wrapper,
  & .rctr--RcTree-title {
    width: 100%;
  }
}
