.rctr--rcTreeAdapterVariants {
  width: 400px;
  height: 80vh;

  & .rctr--RcTree {
    overflow: auto;
    height: 100vh;
    max-height: 100%;

    &-list-holder {
      max-height: 100vh !important;
    }
  }
}
